.about-text {
    background: #393263;
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-text a {
    color: #fff;
}

.about-text h4 {
    max-width: 30%;
    margin: 0 auto;
}
